.cart-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 5rem;
    margin-bottom: 5rem;

}

.cart-form {
    display: flex;
    flex-direction: column;
}

.cart-flex {
    display: flex;
    align-items: center;
    gap: 2rem;

}

.cart-flex img {
    margin-top: 10px;
    width: 100px;
    height: 150px;
}

.cart-container-elements {
    padding: 1rem;
    background-color: var(--color-primary);
    border-radius: 5px;
}

.cart-container-elements p {
    margin: 1.5rem;
    margin-bottom: 0.7rem;
}

.cart-container-elements-select {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: var(--color-secondary);
    font-size: var(--step-0);
    border: none;
    border-radius: 0.5rem;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cart-container-elements-button {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.cart-container-elements-button button {
    font-size: var(--step-2);
    font-weight: 600;
    padding-left: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 3rem;
}

.cart-form-name {
    display: flex;
    gap: 1rem;
}

.cart-form input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 20px;
}

.cart-product-priss {
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    background-color: var(--color-bg);
    display: flex;
    justify-content: space-between;
}

span {
    cursor: pointer;
}

.number {
    display: flex;
    align-items: center;
    gap: 5px;
}

.minus,
.plus {
    width: 20px;
    height: 20px;
    background: #f2f2f2;
    border-radius: 4px;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.number input {
    height: 30px;
    width: 30px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
}